@font-face {
    font-family: 'Candlescript';
    src: url('Candlescript\ Demo\ Version.otf');
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
}

.background {
    background: url(Fondo.jpg) no-repeat center center;
    background-size: cover;
    /*background-attachment: fixed;*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.rings {
    max-width: 150px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: center;
}

h1 {
    font-family: 'Candlescript', cursive;
    font-size: clamp(28px, 6vw, 72px);
    color: #FFD700;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    font-family: 'Candlescript', cursive;
}

h3 {
    font-size: 1.5em;
    color: #fff;
    margin: 0;
    text-align: center;
    font-family: 'Candlescript', cursive;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff;
    font-family: 'Parisienne', cursive;
}

.btn {
    display: block;
    margin: 25px auto 0 auto;
    padding: 12px 24px;
    background-color: #16a085;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    max-width: 250px;
    text-align: center;
}

.btn:hover {
    background-color: #1666a0;
    color: #0ceca5;
}

.signature {
    margin-top: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #6b4226;
}

.countdown {
    margin-top: 20px;
    font-size: clamp(1.2em, 4vw, 2em);
    /* escala según pantalla */
    font-weight: bold;
    color: #fff;
    /* dorado */
    /*background: rgba(22, 160, 133, 0.7);*/
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* permite que se acomode en varias líneas si es necesario */
    gap: 10px;
    /* espacio entre elementos */
    text-align: center;
}

.countdown span {
    min-width: 40px;
    text-align: center;
}

/* Responsividad */

@media (min-width: 781px) {
    .header {
        justify-content: center;
    }

    .rings {
        max-width: 150px;
        margin-right: 20px;
    }

    h1 {
        font-size: 70px;
        text-align: left;
    }

    h3 {
        font-size: 1.5em;
        text-align: center;
    }
}


@media (max-width: 780px) {

    .header {

        justify-content: center;
    }

    .card {
        padding: 20px;
        max-width: 95%;
    }

    h1 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .rings {
        max-width: 100px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .rings {
        max-width: 80px;
    }

    h1 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.95em;
    }

    .btn {
        width: 100%;
        padding: 12px;
    }
}