body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
}

.background {
    background: url(fondo-floral.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    text-align: center;
}

/* Contenedor de imagen + título */
.header {
    display: flex;
    flex-direction: column;
    /* imagen arriba, título debajo */
    align-items: center;
    gap: 10px;
    /* espacio entre imagen y título */
    margin-bottom: 20px;
}

.rings {
    max-width: 120px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #975b3a;
    margin: 0;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.intro {
    font-weight: 500;
    color: #555;
}

.btn {
    display: block;
    margin: 25px auto 0 auto;
    padding: 12px 24px;
    background-color: #16a085;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    max-width: 250px;
    text-align: center;
}

.btn:hover {
    background-color: #1666a0;
    color: #0ceca5;
}

.signature {
    margin-top: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #6b4226;
}

/* Responsividad */

@media (min-width: 781px) {
    .header {
        flex-direction: row;
        /* en pantallas grandes: lado a lado */
        justify-content: center;
    }

    .rings {
        max-width: 150px;
        margin-right: 20px;
    }

    h1 {
        font-size: 2.2em;
        text-align: left;
    }
}


@media (max-width: 780px) {

    .header {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        padding: 20px;
        max-width: 95%;
    }

    h1 {
        font-size: 1.6em;
    }

    p {
        font-size: 1em;
    }

    .rings {
        max-width: 100px;
    }
}

@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .rings {
        max-width: 80px;
    }

    h1 {
        font-size: 1.4em;
    }

    p {
        font-size: 0.95em;
    }

    .btn {
        width: 100%;
        padding: 12px;
    }
}